*{
    padding: 0;
    margin: 0;
    
}

body{
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --primary: #0b1220;
    --header-hight: 50px;
    --white: white;
}

a[href] {
    text-decoration: none;
}

/* header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.header-actions{
    list-style: none;
    display: flex;
   padding-left: 20px;
    
}
.header-action{
    color: var(--white);
    padding: 0 20px;
    line-height: 50px;
}

.header-action:hover{
    background-color: rgba(61, 49, 49, 0.315);
    
}
.header-numberPhone{
    padding-right: 20px;
}
#container{
    width: 100%;
    height: 100%;
}
#home{
    padding-top: var(--header-hight);
    width:100%;
    height: 920px;
    margin: auto;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    
}
.home-img{
    position: absolute;

    
}
.home-img::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.45);
}
.home-img img{
    width: 100%;
   
    
}
.home-content{
    position: absolute;
    top: 280px;
    margin-left: 8vw;  
    height: 500px;
    color: var(--white);
    z-index: 2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.home-content .hello-text{
    font-weight: 400;
    font-size: 30px;
    margin: 12px 0;
}
.home-content .name-text{
    font-weight: 400;
    font-size:54px;
    margin-top: 12px ;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(168, 48, 48);

}
.home-content .name-text-sub{
    font-size:76px;
    font-weight: 800;
    margin: 0;
    color: var(--white);
    line-height: 50px;
    padding: 8px 0 24px 0;
}
.home-content .job-text{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 4px;
    margin-bottom: 12px;
    color: blanchedalmond;

}
.home-content-button{
    display: flex;
    justify-content: space-around;
    padding: 0 0px;
    
}
.home-content button{
    margin: 30px 0;
    font-size: 20px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 36px;
    border-radius: 16px;
}
.home-content button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.home-linked{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 8vw;
    display: flex;
    align-items: center;
    list-style: none;

}
.home-linked a{
   margin-right: 16px;
   cursor: pointer;
}
.home-linked a:hover{
    opacity: 0.7;
}

#about{
    background-color: var(--primary);
    padding-top: 120px;
    padding-bottom: 120px;
    /* height: 1000px; */
    background: radial-gradient(at 50% 50%, rgb(168, 48, 48)  , var(--primary) 70%);
}

.about-container{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 800px;
    color: var(--white);
}

.about-img{
    display: flex;
  align-items: center;
  justify-content: center;
    
}
.about-img img{
    width:400px;
    height: 400px;
    text-align: center;
    object-fit: cover;
    margin-right: 40px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
    vertical-align:middle;
}

.about-content{
    
}

.about-discover{
    font-size: 20px;
    color: blanchedalmond;
    font-weight: 700;
}

.about-title{
    font-size: 46px;
    font-weight: 700;
    position: relative;
    padding: 8px 0 ;
}
.about-title::before{
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: blanchedalmond;
}

.about-intro{
    margin-top: 24px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 300;
}

.about-profile{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
    padding: 20px;
    border: 1px solid rgb(168, 48, 48);
    margin: 30px 0;
}

.about-profile-items{
    display: flex;
    flex-direction: column;
}
.about-profile-item{
    line-height: 30px;
}
.about-button{
    padding: 10px 24px;
    background-color: rgb(168, 48, 48);
    color: var(--white);
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}
.about-button:hover{
    opacity: 0.7;
}

    /* resume */
#resume{
    color: var(--white);
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}
.resume-container{
    
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.resume-qualifies{
    width: 50%;
    padding-left: 30px;
}
.resume-title{
    
}
.resume-title span{
    color: blanchedalmond;
}
.resume-title h1{
    line-height: 50px;
    font-size: 36px;
}
.education-items{
    margin-top: 50px;
}
.education-item{
    display: grid;
    grid-template-columns: 5% 95%;
    margin-bottom: 12px;
    
}
.edu-line-col{
    position: relative;
    height: auto;
    width: 1px;
    border: 0 solid blanchedalmond;
    content: "";
    background-color: var(--white);
    
}
.edu-line-col::before{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -3px;
    left: -4px;
    content: "";
    background-color: blanchedalmond;
}
.edu-content{
    padding-right: 40px;
    text-overflow: clip; 
    letter-spacing: 2px;
}
.edu-year{ 
    font-size: 14px;
    line-height: 20px;
}
.edu-year span{
    font-size: 14px;
}
.edu-item-content{
    margin-top: 8px;
    width: 100%;
    word-break: break-word;
    margin-bottom: 8px;
    
}
.edu-item-content{
    
}
.edu-item-title{
    color: rgb(168, 48, 48);
}
.edu-item-sub{
    
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
}

.resume-export{
    width: 50%;
}
.resume-content{
    margin-top: 24px;
}
.resume-content-skill{

}
.resume-skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}
.resume-content-item{
    margin: 0 0 24px 0;
}

.resume-item-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.resume-item-name{

}
.resume-item-percent{

}

.skill-bar {
    width: 100%;
    height: 6px;
    background-color: #ccc;
    
    margin-bottom: 10px;
}

.skill-progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}
  



#portfolio{

}